body {
  background-image: url('pattern2.jpg');

}

h1{
  text-align: center;
  font-family: 'Changa', sans-serif;
  color: black;
  font-size: 80px;
  text-shadow: 10px 10px 30px #F0FFFF;
  margin-bottom: 20px;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Changa', sans-serif;
  background-color: darkseagreen;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
