html{
  background-color: pink;
}

p {
  color: green;
  font-size: 50px;
  text-align: center;
}

img{
  max-width: 100%;
  display:block;
  margin:0 auto;

}

h1{
  text-align: center;
}

.common {
  color: white;
  background: black;
  border: 5px dotted blue;
  border-radius: 20px;
  padding: 40px;
  margin: 60px;

}
