*{
  box-sizing: border-box;
}

html{
  background: rgb(163, 255, 167);
}

body{
  margin:0;
}

img{
  max-width: 100%;
}

p{
  background: rgb(247, 185, 111);
  max-width: 800px;
  font-size: 1.5rem;
  padding: 2rem;
}

.container{
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
  font-size: 30px;
}

.item{
  background: rgb(159, 157, 255);
  width: 200px;
  height: 200px;
  font-size: 30px;
  padding: 1em;
  /* based on font size using */
}

.object{
  background:rgb(173, 248, 255);
  width: 50vw;
  height: 50vh;
}

.little-box{
  background:rgb(255, 158, 196);
  width: 50%;
  height: 50%;
}

@media screen and (max-width:800px){
  html{
    background:rgb(255, 179, 250);
    font-size: 200%;
  }

  .container{
    flex-direction: column;
  }

  .item{
    width: 100%;
  }
}
