*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}


.sidebar{
  background: rgb(175, 246, 219);
  position: fixed;
  top: 0;
  right: -300px;;
  width: 300px;
  height: 100vh;
  padding: 1rem;
  transition: right .5s;
}



.active {
  right: 0;
}
